:root {
    --mainFontColor: rgb(0, 0, 0);
    --backgroundColor: rgb(0,0, 240, 0.6);
}

* {
    color: var(--mainFontColor);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--backgroundColor);
    margin: 20px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 10%; */
    margin-bottom: 20px;
}

header img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile a {
    text-align: center;
    line-height: 1;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}

nav {
    line-height: 1.5;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 15px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 calc(100%/3);      
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: 2px dashed white;
    margin: 20px;
    padding: 20px;
}

article p {
    margin-bottom: 20px;
}

.project {
    display: flex;
    justify-content: center;
}

.project img{
    width: 225px;
    height: 150px;
}

