:root {
    --mainFontColor: rgb(0, 0, 0);
    --backgroundColor: rgb(0,0, 240, 0.6);
}

/* Universal Properties */
* {
    color: var(--mainFontColor);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--backgroundColor);
    margin: 20px;
}

/* Styling for header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

header img {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile a {
    text-align: center;
    line-height: 1;
}

header h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 20px;
}

nav {
    line-height: 1.5;
}

main {
    display: flex;
}

/* Styling for internal page navigation */
aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 15%;
    margin-top: 60px;
    line-height: 1.5;
}

/* Styling for Articles */
h2 {
    display: flex;
    flex: 100%;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom: 15px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#firstProject {
    display: flex;
    flex: 100%;
}

#firstProject .card {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: 2px dashed white;
    margin: 20px;
    padding: 20px;
}

#firstProject p {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1 1 calc(100%/3);      
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    border: 2px dashed white;
    margin: 20px;
    padding: 20px;
}

article p {
    margin-bottom: 20px;
}

.project {
    display: flex;
    justify-content: center;
}

/* Transitions for images */
.project img{
    width: 225px;
    height: 150px;
    transition: width 4s, height 4s, transform 4s;
}

.project img:hover{
    width: 275px;
    height: 200px;
}

/* link decorations */
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    font-size: 20px;
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

/* Styling for adjusted screen sizing */
@media screen and (max-width: 992px) {
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 50%;      
    }
}

@media screen and (max-width: 768px) {
    aside {
        display: none;
    }
    article {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex: 1 1 100%;      
    }
}